.container {
  display: block;
}
.column {
  width: auto;
  max-width: none;
}
ul {
  margin: 40px;
  padding: 10px;
}
li {
  margin: auto;
  padding: 10px;
  font-size: 1.5em;
}
.badge-a {
  padding: 40px;
}
.footer {
  width: auto;
}
